{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
<link rel="stylesheet" href="{% static 'css/registration/login_rwd.css' %}">
{% endblock %}
{% block content %}
<section class="common-form">
    {% if form.errors %}
    <p class="error-msg">ユーザー名とパスワードが一致しません</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {{ form.non_field_errors }}
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="username" maxlength="150" autofocus="" placeholder="ユーザー名" required="" id="id_username">
        </div>
        {{ form.username.errors }}
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="パスワード" required="" id="id_password">
        </div>
        {{ form.password.error }}
        <div class="input-group form-group">
            <input type="submit" value="ログイン" class="submit_btn" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        {% csrf_token %}
    </form>
</section>
{% endblock %}