{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sales/done.css' %}">
<link rel="stylesheet" href="{% static 'css/sales/done_rwd.css' %}">
{% endblock %}
{% block content %}
<div class="done_content">
    <div class="done_contents">
        <h3><i class="fas fa-server"></i>登録完了</h3>
        <p><i class="fas fa-check-double"></i>データ登録が正常終了しました。</p>
        <a href="{% url 'sales:sales_create' %}">もう一度入力</a><a href="{% url 'sales:index' %}">売上TOP</a>
    </div>
</div>
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block script %}
{% endblock %}